.white {
    color: white;
}

.grn,
.grn:active,
.grn:focus,
.grn:hover {
    background-color: rgb(58, 173, 48); 
    outline: none;
    border: none;
    box-shadow: 0 0 5px 5px white;
    transition: none !important;
}


.black {
    color: black;
}

/* blue */

.shrink-test {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.font100 {
  font-size: 100px;
}

.font90 {
  font-size: 90px;
}

.font70 {
    font-size: 70px;
}

.font50 {
    font-size: 50px;
}

.font40 {
  font-size: 40px;
}

.font30 {
  font-size: 30px;
}

.font20 {
  font-size: 20px;
}

.font10 {
  font-size: 10px;
}

.margin30 {
    margin-top: 30px;
}

.margin20 {
    margin-top: 20px;
}

.margbot20 {
    margin-bottom: 20px;
}

.nuni {
    font-family: "Nunito Sans", sans-serif;
    text-decoration: none;
}

.play {
    font-family: "Playfair Display", serif;
    text-decoration: none;
    color: black;
}

.beau {
    font-family: "Beau Rivage", cursive;
    text-decoration: none;
    color: black;
}

.parag {
  max-width: 90%;
}

.nav-link {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-style: none;
    color: white !important;
    box-shadow: rgb(58, 173, 48);
    background: linear-gradient(to bottom, transparent 100%, rgb(58, 173, 48));
  }

.nav-link.active {
    color: black !important; 
}

  .nav-link:hover, .nav-link.active .nav-tabs {
    background-color: #e9ecef; /* Light background on hover */
    color: rgb(58, 173, 48);; /* Bootstrap primary color for text */
    border-radius: .25rem; /* Optional: round corners */
  }

.nav-tabs {
    background-color: rgb(58, 173, 48);
   display: flex;
 }

f

.nav {
    border-style: none;
}

.txtdecnone {
    text-decoration: none;
}

.text-Center {
  display: flex;
  flex-direction: column
}

.text-green {
  color: rgb(58, 173, 48);
}

.download {
  padding: 10px;
  margin: 0px;
  border-radius: 10px;
  background-color:  rgb(58, 173, 48);
  border: 2px solid black;
  color: black;
  font-style:oblique;
}

.contactbtn {
  color: white;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.footer {
 
}

.header {
  
}

@media (min-width: 297px) {
    .nav-tabs {
      display: flex;
      justify-content: center;
    }
    .nav-item {
      flex-grow: 1;
      flex-basis: 0;
      text-align: center;
      
    }

      .font70 {
        font-size: 2rem; /* Adjust based on your needs */
      }
      .font40 {
        font-size: 1.5rem; /* Adjust based on your needs */
      }
      .font30 {
        font-size: 1.25rem; /* Adjust based on your needs */
      }
    }
  

    @media (max-width: 409px){
      .nav-tabs,
      .nav-item {
        display: flex;
        justify-content: center;
      }
      .nav-item {
        flex-grow: 1;
        flex-basis: 0;
        text-align: center;
      }
    

    .font70 {
      font-size: 2rem; /* Adjust based on your needs */
    }
    .font40 {
      font-size: 1.5rem; /* Adjust based on your needs */
    }
    .font30 {
      font-size: 1.25rem; /* Adjust based on your needs */
    }
  }

